*{
    margin: 0%;
    padding: 0%;
    font-family: Gilroy;
}
html,body{
    height: 100%;
    width:100%;
    color:#fff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;

}
#cursor{
    background-color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.0s;
    mix-blend-mode: difference;
}
h1{
    font-size: 8vw;
    font-weight: 900;
}